<?xml version="1.0" encoding="utf-8"?>
<Arena>
	<versionInfo name="Resolume Arena" majorVersion="7" minorVersion="18" microVersion="2" revision="29742"/>
	<Application name="Application" recentCompositions="C:\Users\Marten.000\Documents\Resolume Arena\Compositions\Bermuda 2025 DEV.avc
C:\Users\Marten.000\Documents\Resolume Arena\Compositions\Bermuda Fan row1.avc
C:\Users\Marten.000\Documents\Resolume Arena\Compositions\Bermuda 2025 PROD.avc
C:\Users\Marten.000\Documents\Resolume Arena\Compositions\Bermuda hd sidequest dev.avc
C:\Users\Marten.000\Documents\Resolume Arena\Compositions\Bermuda mixmode experimentation.avc
C:\Users\Marten.000\Documents\Resolume Arena\Compositions\Bermuda V2 DEV.avc
C:\Users\Marten.000\Documents\Resolume Arena\Compositions\Bermuda PROD.avc
C:\Users\Marten.000\Documents\Resolume Arena\Compositions\Bermuda DEV.avc
C:\Users\Marten.000\Documents\Resolume Arena\Compositions\Bermuda Fan.avc
C:\Users\Marten.000\Documents\Resolume Arena\Compositions\videobanks 1080p.avc
C:\Users\Marten.000\Documents\Resolume Arena\Compositions\Bermuda DEV crossfader.avc
C:\Users\Marten.000\Documents\Resolume Arena\Compositions\Shader dev.avc
C:\Users\Marten.000\Documents\Resolume Arena\Compositions\SUPER LIGHTDREAM 1024px.avc
C:\Users\Marten.000\Documents\Resolume Arena\Compositions\LED Home Installations.avc" fileBrowserFavourites="F:\videoclips">
		<Params name="Settings">
			<Param name="CurrentCompositionFile" T="STRING" default="C:\Program Files\Resolume Arena 6\default\Example.avc" value="C:\Users\Marten.000\Documents\Resolume Arena\Compositions\Bermuda 2025 DEV.avc"/>
			<ParamRange name="DefaultCompositionWidth" T="DOUBLE" default="1920" value="1920">
				<PhaseSourceStatic name="PhaseSourceStatic" phase="0.019190191901919020911"/>
			</ParamRange>
			<ParamRange name="DefaultCompositionHeight" T="DOUBLE" default="1080" value="1080">
				<PhaseSourceStatic name="PhaseSourceStatic" phase="0.010790107901079010189"/>
			</ParamRange>
			<Param name="DefaultDeckCount" T="UINT32" default="3" value="3"/>
			<Param name="DefaultLayerCount" T="UINT32" default="3" value="3"/>
			<Param name="DefaultColumnCount" T="UINT32" default="9" value="9"/>
			<ParamChoice name="Texture Path" default="TUP_DMA" value="TUP_DMA" storeChoices="0"/>
			<Param name="ChangeFocusOnExternalTriggers" T="BOOL" default="1" value="0"/>
			<Param name="RecordDirectory" T="STRING" default="C:\Users\Marten.000\Documents\Resolume Arena\Recorded" value="F:\resolume-recordings"/>
			<Param name="ScrollClipsAndLayersIntoView" T="BOOL" default="1" value="0"/>
			<Param name="LastFileBrowserDirectory" T="FILE" default="C:\Program Files\Resolume Arena 6" value="E:\git\lightdream-shaders\MASKS"/>
		</Params>
		<RecordSettings>
			<Conversion name="Conversion" Name="DXV 3 Normal Quality No Alpha" Codec="DXV 3" Format="Normal Quality, No Alpha" AutoSize="Fit" CustomSize="0" AudioEnabled="1" SampleRate="44100" BitDepth="16">
				<OutputPath Type="2" Path="/Users/bart/Documents/Resolume Arena/Recorded"/>
			</Conversion>
		</RecordSettings>
		<RenderSettings>
			<Conversion name="Conversion" Name="DXV 3 Normal Quality No Alpha" Codec="DXV 3" Format="Normal Quality, With Alpha" AutoSize="Fit" CustomSize="0" AudioEnabled="1" SampleRate="44100" BitDepth="16">
				<OutputPath Type="2" Path="C:\Users\Marten.000\Documents\Resolume Arena\Renders"/>
			</Conversion>
		</RenderSettings>
	</Application>
	<VideoEngine name="VideoEngine">
		<Params name="Params">
			<Param name="Show FPS" T="BOOL" default="0" value="1"/>
			<ParamStrings name="PluginDirectories">
				<Value value="E:\shaders\plugins"/>
				<Value value="E:\git\resolume-ffgl\binaries\x64"/>
				<Value value="E:\git\lightdream-shaders\bin"/>
				<Value value="C:\Users\Marten.000\AppData\Roaming\JuiceBar\resolume7_win64"/>
			</ParamStrings>
		</Params>
	</VideoEngine>
	<AudioEngine name="AudioEngine">
		<AudioDeviceManager name="AudioDeviceManager">
			<AudioDeviceManagerSettings name="AudioDeviceManagerSettings" channelsUseBitmask="1">
				<Params name="Settings">
					<Param name="FFT Input" T="UINT64" default="0" value="3"/>
				</Params>
				<Params name="Params">
					<ParamRange name="FFTInputGain" T="DOUBLE" default="0" value="4.0319999999999964757">
						<PhaseSourceStatic name="PhaseSourceStatic" phase="0.58399999999999996358"/>
					</ParamRange>
				</Params>
			</AudioDeviceManagerSettings>
			<AudioDeviceSettings>
				<DEVICESETUP deviceType="Windows Audio" audioOutputDeviceName="Speakers (Realtek(R) Audio)" audioInputDeviceName="Stereo Mix (Realtek(R) Audio)" audioDeviceRate="48000.0" audioDeviceBufferSize="480" audioDeviceInChans="11" audioDeviceOutChans="11"/>
			</AudioDeviceSettings>
		</AudioDeviceManager>
		<AudioEffectManager name="AudioEffectManager"/>
	</AudioEngine>
	<SmpteController name="SmpteController"/>
	<TCNetManager name="TCNetManager" interface="VirtualBox Host-Only Ethernet Adapter"/>
</Arena>

