<?xml version="1.0" encoding="utf-8"?>
<ServerController name="ServerController" enabled="0" port="8080" address="0.0.0.0" root="C:\Users\Marten.000\Documents\Resolume Arena\Webserver">
	<versionInfo name="Resolume Arena" majorVersion="7" minorVersion="18" microVersion="2" revision="29742"/>
</ServerController>

